*{
    margin: 0;
    padding: 0;
    font-family: "Gilrouy";
    box-sizing: border-box;

}

html,body{
    width: 100%;
    height: 100%;

}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110%;
    background: #77e99d;

}
#panel{
    width: 80%;
    height: 80%;
    background: #ecf3ea;
    border-radius: 10px;
}

#ptop{
    width: 100%;
    padding: 0px  150px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: #f5f0f0;
    height: 100px;
    border-radius: 10px;
    background: #0ca70c;
    
}
.elem{
    
    display: flex;
    align-items: center;
    gap: 20px;

   
}
.elem h2{
    font-size: 17px;
    font-weight: 500;
}


.box{
    padding: 30px 30px;
    border-radius: 50px;
    color: #0ca70c;
    font-weight: 600;
    font-size: 25px;
    align-items: center;

    background-color: rgb(243, 240, 240);
}
#pbtm{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    height: calc(100%-100px);

}

.bubble{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 60px;
    font-weight: 1000;
    background-color: #0ca70c;
    color: rgb(231, 238, 238);
    border-radius: 50%;
    font-size: 200%;
}

.bubble:hover{
    cursor: pointer;
    background-color: #023102;
}





this is for time pass
